.box, .menu li a {
  background-color: #fff;
  border: 1px solid #cccccc; }

body {
  background-color: #eaeae6;
  padding: 1em;
  font-family: Helvetica, sans-serif;
  font-size: 14px; }

h1 {
  font-size: 1.5em;
  letter-spacing: -1px; }

p {
  padding: 1em 0; }

#main {
  padding: 2em 0; }

.box {
  width: 600px;
  padding: 1em;
  margin: 1em 0;
  border-radius: 10px; }

.menu {
  width: 300px;
  margin: 1em 0; }
  .menu li a {
    display: block;
    padding: 1em;
    border-bottom-width: 0; }
  .menu li:first-child a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .menu li:last-child a {
    border-bottom-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
