html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header > .ribbon-outer:before, header > .ribbon-outer:after {
  content: ' ';
  display: table; }
header > .ribbon-outer:after {
  clear: both; }

/* animations */
@-webkit-keyframes tail-bounce {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  40% {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5); }
  70% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5); }
  85% {
    -webkit-transform: scaleX(1.3);
            transform: scaleX(1.3); }
  95% {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }
@keyframes tail-bounce {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  40% {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5); }
  70% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5); }
  85% {
    -webkit-transform: scaleX(1.3);
            transform: scaleX(1.3); }
  95% {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }
header > .ribbon-outer:before, header > .ribbon-outer:after {
  content: ' ';
  display: table; }
header > .ribbon-outer:after {
  clear: both; }

/* wrapper */
body {
  background-color: #dadadf; }

div.shell,
div.shell > header,
div.shell > section,
div.shell > footer {
  margin-left: auto;
  margin-right: auto; }

a#forkme_banner {
  background: transparent url(../images/fork-sprite.png) 0 0 no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9000px;
  width: 138px;
  height: 138px;
  z-index: 4; }
  a#forkme_banner:hover {
    background-position: 0 -138px; }

@media screen and (min-width: 800px) {
  div.shell {
    width: 800px; } }
@media screen and (min-width: 600px) and (max-width: 800px) {
  div.shell {
    width: 600px; } }
@media screen and (min-width: 414px) and (max-width: 600px) {
  div.shell {
    width: 414px; } }
@media screen and (min-width: 375px) and (max-width: 414px) {
  div.shell {
    width: 375px; } }
@media screen and (max-width: 375px) {
  div.shell {
    width: 320px; } }
@media screen and (max-width: 600px) {
  a#forkme_banner {
    display: none; } }
header > .ribbon-outer:before, header > .ribbon-outer:after {
  content: ' ';
  display: table; }
header > .ribbon-outer:after {
  clear: both; }

/* header */
section#downloads > .inner > .tip, section#downloads > .tip {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }
  @media screen and (min-width: 800px) {
    section#downloads > .inner > .tip, section#downloads > .tip {
      border-left-width: 340px;
      border-right-width: 340px; } }
  @media screen and (min-width: 600px) and (max-width: 800px) {
    section#downloads > .inner > .tip, section#downloads > .tip {
      border-left-width: 240px;
      border-right-width: 240px; } }
  @media screen and (min-width: 414px) and (max-width: 600px) {
    section#downloads > .inner > .tip, section#downloads > .tip {
      border-left-width: 183px;
      border-right-width: 183px; } }
  @media screen and (min-width: 375px) and (max-width: 414px) {
    section#downloads > .inner > .tip, section#downloads > .tip {
      border-left-width: 163.5px;
      border-right-width: 163.5px; } }
  @media screen and (max-width: 375px) {
    section#downloads > .inner > .tip, section#downloads > .tip {
      border-left-width: 136px;
      border-right-width: 136px; } }

header {
  position: relative;
  text-align: center;
  top: 3rem;
  z-index: 3; }
  header .left-tail, header .right-tail {
    position: absolute;
    overflow: hidden;
    width: 25px;
    height: 105px;
    z-index: 0;
    bottom: -37px;
    /* backface depth hint */ }
    header .left-tail > .tip, header .right-tail > .tip {
      border-color: transparent;
      border-style: solid;
      border-top-width: 53px;
      border-bottom-width: 53px;
      position: absolute;
      top: 0;
      left: 0; }
    header .left-tail:after, header .right-tail:after {
      border-color: #001e63;
      border-style: solid;
      border-width: 12.5px;
      content: ' ';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-bottom-color: transparent;
      top: 68px; }
  header .left-tail {
    left: 0;
    /* backface depth hint */ }
    header .left-tail > .tip {
      border-left-width: 19px;
      border-right-width: 37px; }
    header .left-tail:after {
      border-left-color: transparent; }
  header .right-tail {
    right: 0;
    /* backface depth hint */ }
    header .right-tail > .tip {
      border-left-width: 37px;
      border-right-width: 19px; }
    header .right-tail:after {
      border-right-color: transparent; }
  @media screen and (min-width: 600px) {
    header .left-tail, header .right-tail {
      overflow: visible;
      width: 56px; }
      header .left-tail > .tip, header .right-tail > .tip {
        background-color: #002886;
        background-clip: border-box;
        box-shadow: 0 5px 0 #aaaaaf; }
        header .left-tail > .tip.animating, header .right-tail > .tip.animating {
          -webkit-animation-name: tail-bounce;
                  animation-name: tail-bounce;
          -webkit-animation-duration: 0.5s;
                  animation-duration: 0.5s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear; }
    header .left-tail {
      left: -31px;
      /* backface depth hint */ }
      header .left-tail .tip {
        border-left-color: #dadadf; }
        header .left-tail .tip.animating {
          -webkit-transform-origin: right center;
              -ms-transform-origin: right center;
                  transform-origin: right center; }
      header .left-tail:after {
        left: 31px; }
    header .right-tail {
      right: -31px;
      /* backface depth hint */ }
      header .right-tail .tip {
        border-right-color: #dadadf; }
        header .right-tail .tip.animating {
          -webkit-transform-origin: left center;
              -ms-transform-origin: left center;
                  transform-origin: left center; }
      header .right-tail:after {
        right: 31px; } }
  header .ribbon-inner {
    background-color: #03a;
    box-shadow: inset 0 0 0 4px #03a, inset 0 0 0 6px #06d, 0 30px 0 -25px #258;
    padding: 6px;
    position: relative;
    z-index: 1; }
  header h1 {
    color: #dadadf;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    padding: 1.3333rem 1.3333rem 0;
    text-transform: uppercase; }
  header h2 {
    color: #6af;
    font: italic 14px/1.5 Gentium Book Basic, Georgia, Times, Times New Roman, serif;
    padding-bottom: 1rem; }

section#downloads {
  background: #d2d2d7;
  margin-top: -5.6666rem;
  margin-bottom: 0.6666rem;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  z-index: 2; }
  @media screen and (max-width: 600px) {
    section#downloads {
      margin-top: -6rem; } }
  section#downloads > .inner {
    background-color: #46a;
    padding-bottom: 0.6666rem; }
    section#downloads > .inner > .tip {
      bottom: -25px;
      border-top-color: #46a;
      border-top-width: 30px;
      z-index: -1; }
  section#downloads > .tip {
    /* shadow */
    bottom: -30px;
    border-top-color: #d2d2d7;
    border-top-width: 30px;
    z-index: -2; }
  section#downloads a {
    color: #9bd;
    display: inline-block;
    font-family: Merriweather Sans, Myriad, Calibri, sans-serif;
    font-size: 1.3333rem;
    font-weight: 800;
    line-height: 1;
    padding-top: 9.6666rem;
    width: 50%; }
    @media screen and (max-width: 600px) {
      section#downloads a {
        padding-top: 10rem; } }
    section#downloads a:focus {
      outline: none; }
    section#downloads a:hover {
      color: #bfd5ea;
      background-image: linear-gradient(to bottom, #258, #46a);
      text-decoration: none; }
    section#downloads a em {
      display: block;
      font: italic 14px/1 Gentium Book Basic, Georgia, Times, Times New Roman, serif;
      margin-bottom: 0.3333em; }

section#main_content {
  background-image: linear-gradient(to bottom, #eaeaee 13.3333rem, #dadadf 80%, #cfcfd4);
  box-shadow: 0 0 0 2px #cacacf;
  box-sizing: border-box;
  margin-top: -16.3333rem;
  margin-bottom: -16.3333rem;
  min-height: 12.3333rem;
  padding: 16.9999rem 1rem 13.3333rem;
  position: relative;
  z-index: 1; }

@media screen and (min-width: 800px) {
  header {
    width: 730px; }

  section#downloads {
    width: 680px; }

  section#main_content {
    width: 668px; } }
@media screen and (min-width: 600px) and (max-width: 800px) {
  header {
    width: 530px; }

  section#downloads {
    width: 480px; }

  section#main_content {
    width: 468px; } }
@media screen and (min-width: 414px) and (max-width: 600px) {
  header {
    width: 414px; }

  section#downloads {
    width: 366px; }

  section#main_content {
    width: 354px; } }
@media screen and (min-width: 375px) and (max-width: 414px) {
  header {
    width: 375px; }

  section#downloads {
    width: 327px; }

  section#main_content {
    width: 315px; } }
@media screen and (max-width: 375px) {
  header {
    width: 320px; }

  section#downloads {
    width: 272px; }

  section#main_content {
    width: 260px; } }
header > .ribbon-outer:before, header > .ribbon-outer:after {
  content: ' ';
  display: table; }
header > .ribbon-outer:after {
  clear: both; }

/* footer */
footer {
  padding-top: 4rem;
  position: relative;
  text-align: center;
  z-index: 5; }
  footer .left-tail, footer .right-tail {
    position: absolute;
    overflow: hidden;
    width: 8px;
    height: 29px;
    z-index: 0;
    top: -10px;
    /* backface depth hint */ }
    footer .left-tail > .tip, footer .right-tail > .tip {
      border-color: transparent;
      border-style: solid;
      border-top-width: 15px;
      border-bottom-width: 15px;
      position: absolute;
      top: 0;
      left: 0; }
    footer .left-tail:after, footer .right-tail:after {
      border-color: #001e63;
      border-style: solid;
      border-width: 4px;
      content: ' ';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top-color: transparent;
      bottom: 19px; }
  footer .left-tail {
    left: 0;
    /* backface depth hint */ }
    footer .left-tail > .tip {
      border-left-width: 6px;
      border-right-width: 12px; }
    footer .left-tail:after {
      border-left-color: transparent; }
  footer .right-tail {
    right: 0;
    /* backface depth hint */ }
    footer .right-tail > .tip {
      border-left-width: 12px;
      border-right-width: 6px; }
    footer .right-tail:after {
      border-right-color: transparent; }
  @media screen and (min-width: 600px) {
    footer .left-tail, footer .right-tail {
      overflow: visible;
      width: 18px; }
      footer .left-tail > .tip, footer .right-tail > .tip {
        background-color: #002886;
        background-clip: border-box;
        box-shadow: 0 2px 0 #aaaaaf; }
        footer .left-tail > .tip.animating, footer .right-tail > .tip.animating {
          -webkit-animation-name: tail-bounce;
                  animation-name: tail-bounce;
          -webkit-animation-duration: 0.5s;
                  animation-duration: 0.5s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear; }
    footer .left-tail {
      left: -10px;
      /* backface depth hint */ }
      footer .left-tail .tip {
        border-left-color: #dadadf; }
        footer .left-tail .tip.animating {
          -webkit-transform-origin: right center;
              -ms-transform-origin: right center;
                  transform-origin: right center; }
      footer .left-tail:after {
        left: 10px; }
    footer .right-tail {
      right: -10px;
      /* backface depth hint */ }
      footer .right-tail .tip {
        border-right-color: #dadadf; }
        footer .right-tail .tip.animating {
          -webkit-transform-origin: left center;
              -ms-transform-origin: left center;
                  transform-origin: left center; }
      footer .right-tail:after {
        right: 10px; } }
  footer .ribbon-outer {
    border-bottom: 2px solid #aaaaaf;
    position: relative; }
  footer .ribbon-inner {
    background-color: #03a;
    box-shadow: inset 0 0 0 2px #03a, inset 0 0 0 3px #06d;
    padding: 3px;
    position: relative;
    z-index: 1; }
  footer p {
    color: #8ac;
    font: 700 0.8em "Merriweather Sans", Myriad, Calibri, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem; }
  footer > p {
    margin-top: 1.3333rem;
    margin-bottom: 1.3333rem; }
  footer .ribbon-inner p {
    color: #6af;
    font: italic 14px/1 "Gentium Book Basic", Georgia, Times, "Times New Roman", serif;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 4px; }
  footer a {
    color: #06d; }
  footer .ribbon-inner a {
    bottom: -1px;
    color: #79b;
    font: normal 800 13px "Merriweather Sans", Myriad, Calibri, sans-serif;
    position: relative;
    text-transform: uppercase; }
    footer .ribbon-inner a:hover {
      color: #79b; }
  footer .octocat {
    background: url(../images/octocat.png) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 auto; }

@media screen and (min-width: 800px) {
  footer {
    width: 686px; } }
@media screen and (min-width: 600px) and (max-width: 800px) {
  footer {
    width: 486px; } }
@media screen and (min-width: 414px) and (max-width: 600px) {
  footer {
    width: 370px; } }
@media screen and (min-width: 375px) and (max-width: 414px) {
  footer {
    width: 331px; } }
@media screen and (max-width: 375px) {
  footer {
    width: 276px; } }
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), screen and (-webkit-min-device-pixel-ratio: 1.25), screen and (min-resolution: 120dpi) {
  footer .octocat {
    background-image: url(../images/octocat-2x.png); } }
header > .ribbon-outer:before, header > .ribbon-outer:after {
  content: ' ';
  display: table; }
header > .ribbon-outer:after {
  clear: both; }

/* base content */
html {
  font: normal normal 14px/1.5 Merriweather Sans, Myriad, Calibri, sans-serif; }

body {
  color: #6a6a6f;
  font: inherit; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a, a:hover {
    color: #25a; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", Myriad, Calibri, sans-serif;
  font-weight: 700; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

p {
  margin: 0.6666rem 0; }

ol {
  list-style-type: decimal;
  margin: 0.6666rem 0;
  padding-left: 1.3333rem; }

ul {
  margin: 0.6666rem 0; }
  ul li {
    background: transparent url(../images/chevron.png) 3px 6px no-repeat;
    background-size: 7px 9px;
    padding-left: 1.3333rem; }

blockquote {
  background: transparent url(../images/blockquote-gfx.png) 0 4px no-repeat;
  background-size: 1.1333rem 0.8666rem;
  color: #9a9a9f;
  font-family: "Merriweather Sans", Myriad, Calibri, sans-serif;
  margin: 1.3333rem 0;
  padding-left: 1.3333rem; }

img {
  background: #dadadf;
  box-shadow: 0 0 0 1px rgba(250, 250, 255, 0.8), inset 0 0 0 2px rgba(202, 202, 207, 0.5);
  max-width: 100%; }

hr {
  background: transparent url(../images/hr.png) center repeat-x;
  background-size: auto 18px;
  border: 0;
  height: 18px;
  margin: 1.3333rem 0;
  outline: none; }

code, pre {
  font: normal normal 14px/1.7 Inconsolata, Lucida Console, Bitstream Vera Sans Mono, monospace; }

code {
  background: #eaeaee;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(202, 202, 207, 0.5);
  padding: 1px 0.3333rem;
  /* reset */ }
  pre code {
    background: transparent;
    box-shadow: none;
    padding: 0; }

pre {
  background: #eaeaee;
  box-shadow: 0 0 0 1px rgba(250, 250, 255, 0.8), inset 0 0 0 2px rgba(202, 202, 207, 0.5);
  line-height: 1;
  margin: 0.6666rem 0 1.3333rem;
  overflow: auto;
  padding: 1em; }

table {
  border-top: 2px solid rgba(202, 202, 207, 0.5);
  border-collapse: separate;
  display: table;
  margin: 0.6666rem 0;
  width: 100%; }

tr {
  display: table-row; }

th, td {
  border-color: rgba(202, 202, 207, 0.5);
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: table-cell;
  line-height: 1.5rem;
  padding: 0.3333rem 0.6666rem; }

th {
  color: #06d;
  font-family: "Merriweather Sans", Myriad, Calibri, sans-serif;
  font-size: 0.85em;
  font-weight: 700; }

td:last-child, th:last-child {
  border-right: none; }

table > tr:last-child th, table > tr:last-child td {
  border-bottom: none; }

dl {
  margin: 0.6666rem 0 1.3333rem; }

dt {
  font-family: "Merriweather Sans", Myriad, Calibri, sans-serif;
  font-weight: 700; }

dd {
  padding-left: 1.3333rem; }

dd p:first-child {
  margin-top: 0; }

@media screen and (max-width: 600px) {
  html {
    font-size: 12px; }

  code, pre {
    font-size: 12px; } }
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), screen and (-webkit-min-device-pixel-ratio: 1.25), screen and (min-resolution: 120dpi) {
  ul li {
    background-image: url(../images/chevron-2x.png); }

  blockquote {
    background-image: url(../images/blockquote-gfx-2x.png); }

  hr {
    background-image: url(../images/hr-2x.png); } }
header > .ribbon-outer:before, header > .ribbon-outer:after {
  content: ' ';
  display: table; }
header > .ribbon-outer:after {
  clear: both; }

/* content-based headers */
#main_content h1, #main_content h2 {
  /* badges */ }
  #main_content h1 *, #main_content h2 * {
    vertical-align: baseline; }
  #main_content h1 img, #main_content h2 img {
    border: 0;
    box-shadow: none; }

#main_content h1 {
  border-bottom: 0.2em double #cacacf;
  color: #03a;
  font-size: 1.85rem;
  line-height: 1.2;
  margin: 1.1em 0 0.38em;
  padding-bottom: 0.6666rem;
  text-align: center; }
#main_content h2 {
  border-bottom: 0.1em solid #cacacf;
  color: #03a;
  font-size: 1.58rem;
  line-height: 1.2;
  margin: 0.95em 0 0.5em;
  padding-bottom: 0.6666rem; }
#main_content h3 {
  font-size: 1.45rem;
  margin: 1.3333rem 0 0.6666rem; }
#main_content h4 {
  color: #06d;
  font-size: 1.2rem;
  margin: 0.6em 0; }
#main_content h5 {
  color: #8ac;
  font-size: 1rem;
  margin: 0.7em 0; }
#main_content h6 {
  font-size: 0.85rem;
  margin: 0.8em 0; }

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3;
  color: #657b83;
  -webkit-text-size-adjust: none; }

.hljs-comment,
.diff .hljs-header,
.hljs-doctype,
.hljs-pi,
.lisp .hljs-string {
  color: #93a1a1; }

/* Solarized Green */
.hljs-keyword,
.hljs-winutils,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
  color: #859900; }

/* Solarized Cyan */
.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-doctag,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url {
  color: #2aa198; }

/* Solarized Blue */
.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.vhdl .hljs-literal,
.hljs-id,
.css .hljs-function,
.hljs-name {
  color: #268bd2; }

/* Solarized Yellow */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type,
.hljs-link_reference {
  color: #b58900; }

/* Solarized Orange */
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-pragma,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-subst,
.hljs-cdata,
.css .hljs-pseudo,
.hljs-header {
  color: #cb4b16; }

/* Solarized Red */
.hljs-deletion,
.hljs-important {
  color: #dc322f; }

/* Solarized Violet */
.hljs-link_label {
  color: #6c71c4; }

.tex .hljs-formula {
  background: #eee8d5; }

/* pygment code content */
.highlight {
  background: #ffffff;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .c {
    color: #999988;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #999988;
    font-style: italic; }
  .highlight .cp {
    color: #999999;
    font-weight: bold; }
  .highlight .c1 {
    color: #999988;
    font-style: italic; }
  .highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000000;
    background-color: #ffdddd; }
  .highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #aa0000; }
  .highlight .gh {
    color: #999999; }
  .highlight .gi {
    color: #000000;
    background-color: #ddffdd; }
  .highlight .gi .x {
    color: #000000;
    background-color: #aaffaa; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #555555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #800080;
    font-weight: bold; }
  .highlight .gt {
    color: #aa0000; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kn {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #445588;
    font-weight: bold; }
  .highlight .m {
    color: #009999; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #445588;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #990000;
    font-weight: bold; }
  .highlight .nf {
    color: #990000;
    font-weight: bold; }
  .highlight .nn {
    color: #555555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf {
    color: #009999; }
  .highlight .mh {
    color: #009999; }
  .highlight .mi {
    color: #009999; }
  .highlight .mo {
    color: #009999; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #009999; }
  .type-csharp .highlight .k {
    color: #0000FF; }
  .type-csharp .highlight .kt {
    color: #0000FF; }
  .type-csharp .highlight .nf {
    color: #000000;
    font-weight: normal; }
  .type-csharp .highlight .nc {
    color: #2B91AF; }
  .type-csharp .highlight .nn {
    color: #000000; }
  .type-csharp .highlight .s {
    color: #A31515; }
  .type-csharp .highlight .sc {
    color: #A31515; }

@media print {
  header > .ribbon-outer:before, header > .ribbon-outer:after {
    content: ' ';
    display: table; }
  header > .ribbon-outer:after {
    clear: both; }

  * {
    background: none !important;
    box-shadow: none !important;
    color: #6a6a6f !important; }

  h1, h2, h3, h4, h5, h6 {
    color: #03a !important; }

  a {
    color: #25a !important; }

  hr {
    border-bottom: 2px solid #cacacf; }

  #forkme_banner,
  #downloads,
  .left-tail,
  .right-tail {
    display: none !important; }

  .ribbon-inner, .ribbon-outer {
    border: 0 !important; } }

/*# sourceMappingURL=main.css.map */