/*
HLF SlideShow Extension
=======================
[Styles](../js/slide-show.html) | [Tests](../../tests/css/slide-show.html)
*/

.slideshow {
  --slide-spacing: 1rem;
}
.slideshow > .slides {
  -webkit-overflow-scrolling: touch;
  display: flex;
  list-style: none;
  overflow-x: scroll;
  padding-left: 0;
  scroll-snap-type: mandatory;
}
.slideshow .slide {
  margin-right: var(--slide-spacing);
  scroll-snap-align: center;
}
.slideshow .slide > figure { margin: 0; }
.slideshow .slide > figure > img { margin-bottom: 0; }
.slideshow .slide.current > figure > img { cursor: pointer; }

@media print {
  .slideshow > .slides { display: block; }
  .slideshow .slide { page-break-inside: avoid; }
  .slideshow .slide > figure > img { margin-bottom: inherit; }
}
