/*
HLF Tip Extension
=================
[Source](../js/jquery.hlf.tip.html) | [Tests](../../tests/css/tip.html)

The main responsibility for the required extension styling is to provide core
layout styles but allow easy customization of skin styles, ie. colors, fonts,
borders, shadows.

The required DOM structure looks like:
```html
<div class="js-tip">
  <div class="js-tip-inner">
    <div class="js-tip-stem"></div>
    <div class="js-tip-content">...</div>
  </div>
</div>
```

Example of the variations of classes on the tip element:
```html
<div class="js-tip js-snap-tip js-tip-follow js-tip-bottom js-tip-right js-snap-tip-trigger js-snap-tip-x-side">
```
*/

.js-tip {
  --tip-em: 12px;
  --tip-fill-color: #666;
  --tip-text-color: #fff;
  --stem-size: var(--tip-em);
  --stem-size-wide-half: calc(var(--tip-em) * 1.5 / 2);
  --tip-max-width: calc(var(--tip-em) * 18);
  --tip-z-index: 9999;

  display: none;
  position: absolute;

  z-index: var(--tip-z-index);
}

.js-tip-inner {
  position: relative;

  max-width: var(--tip-max-width);
}

.js-tip-stem {
  background: none;
  border: 0 solid transparent; /* Initial value. */
  height: 0; /* Initial value. */
  position: absolute;
  width: 0; /* Initial value. */
}
.js-tip.js-tip-left .js-tip-stem,
.js-tip.js-tip-left.js-snap-tip-y-side .js-tip-stem {
  border-left-width: var(--stem-size);
  left: auto;
  margin-bottom: auto; /* Reset. */
  margin-right: calc(var(--stem-size) * -1); /* Positioning. */
  margin-top: auto; /* Reset. */
  right: -1px; /* To match the JS. */

  border-color: transparent;
  border-left-color: var(--tip-fill-color);
}
.js-tip.js-tip-right .js-tip-stem,
.js-tip.js-tip-right.js-snap-tip-y-side .js-tip-stem {
  border-right-width: var(--stem-size);
  left: 0;
  margin-bottom: auto; /* Reset. */
  margin-left: calc(var(--stem-size) * -1); /* Positioning. */
  margin-top: auto; /* Reset. */
  right: auto;

  border-color: transparent;
  border-right-color: var(--tip-fill-color);
}
.js-tip.js-tip-bottom .js-tip-stem,
.js-tip.js-tip-bottom.js-snap-tip-x-side .js-tip-stem {
  border-bottom-width: var(--stem-size);
  bottom: auto;
  margin-left: auto; /* Reset. */
  margin-right: auto; /* Reset. */
  margin-top: calc(var(--stem-size) * -1); /* Positioning. */
  top: 0;

  border-color: transparent;
  border-bottom-color: var(--tip-fill-color);
}
.js-tip.js-tip-top .js-tip-stem,
.js-tip.js-tip-top.js-snap-tip-x-side .js-tip-stem {
  border-top-width: var(--stem-size);
  bottom: 0;
  margin-bottom: calc(var(--stem-size) * -1); /* Positioning. */
  margin-left: auto; /* Reset. */
  margin-right: auto; /* Reset. */
  top: auto;

  border-color: transparent;
  border-top-color: var(--tip-fill-color);
}
.js-tip.js-snap-tip-x-side > .js-tip-inner > .js-tip-stem { /* Add specifity. */
  border-left-width: var(--stem-size-wide-half);
  border-right-width: var(--stem-size-wide-half);
  left: 50%;
  margin-left: calc(var(--stem-size-wide-half) * -1);
  margin-right: auto;
}
.js-tip.js-snap-tip-y-side > .js-tip-inner > .js-tip-stem { /* Add specifity. */
  border-top-width: var(--stem-size-wide-half);
  border-bottom-width: var(--stem-size-wide-half);
  margin-bottom: auto;
  margin-top: calc(var(--stem-size-wide-half) * -1);
  top: 50%;
}

.js-tip-content {
  overflow: hidden;
  position: relative;

  padding-bottom: calc(var(--tip-em) * 5 / 6);
  padding-left: var(--tip-em);
  padding-right: var(--tip-em);
  padding-top: calc(var(--tip-em) * 2 / 3);

  background-color: var(--tip-fill-color);
  color: var(--tip-text-color);
}
