.box, .list-item, .list .item, .list > a, .list li.no-a, .list li:not(.no-a) > a, .list .bar > a, .bar-item, .bar .item, .bar .list > a, .bar > a, .bar li.no-a, .bar li:not(.no-a) > a {
  background-color: white;
  border: 1px solid #cccccc; }

.clearfix::before, .bar::before, .grid::before, .clearfix::after, .bar::after, .grid::after {
  content: " ";
  display: table; }
.clearfix::after, .bar::after, .grid::after {
  clear: both; }
.clearfix, .bar, .grid {
  *zoom: 1; }

body {
  background-color: #eaeae6;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 14px; }

h1 {
  font-size: 21px;
  letter-spacing: -1px; }

p {
  padding: 14px 0; }

#main {
  padding: 28px 0; }

section.visual-test header {
  font-weight: bold; }
  section.visual-test header::after {
    content: ':'; }
section.visual-test footer {
  margin-bottom: 1em; }

.box {
  border-radius: 10px;
  margin: 14px 0;
  padding: 14px; }

.list-item, .list .item, .list > a, .list li.no-a, .list li:not(.no-a) > a, .list .bar > a {
  border-bottom-width: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  padding: 14px; }

.list-item-first, .list > a:first-child, .list li.no-a:first-child, .list li:not(.no-a):first-child > a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.list-item-last, .list > a:last-child, .list li.no-a:last-child, .list li:not(.no-a):last-child > a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-width: 1px; }

.list {
  margin: 14px 0; }
  .list .item, .list > a, .list li.no-a, .list li:not(.no-a) > a, .list .bar > a {
    width: 300px; }

.bar-item, .bar .item, .bar .list > a, .bar > a, .bar li.no-a, .bar li:not(.no-a) > a {
  border-right-width: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  float: left;
  padding: 14px; }

.bar-item-first, .bar > a:first-child, .bar li.no-a:first-child, .bar li:not(.no-a):first-child > a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.bar-item-last, .bar > a:last-child, .bar li.no-a:last-child, .bar li:not(.no-a):last-child > a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: 1px; }

.bar {
  margin: 14px 0; }
  .bar .item, .bar .list > a, .bar > a, .bar li.no-a, .bar li:not(.no-a) > a {
    height: 60px;
    line-height: 32px; }

.edge, .edge-call > .visual-test-fragment {
  position: absolute; }
  .edge.top, .edge-call > .top.visual-test-fragment {
    top: 14px; }
  .edge.right, .edge-call > .right.visual-test-fragment {
    right: 14px; }
  .edge.bottom, .edge-call > .bottom.visual-test-fragment {
    bottom: 14px; }
  .edge.left, .edge-call > .left.visual-test-fragment {
    left: 14px; }

.edge-call:not(body) {
  position: relative; }

.grid-item, .grid li {
  float: left;
  line-height: 0;
  margin-bottom: 7px;
  margin-right: 7px; }

.grid {
  list-style: none;
  padding-left: 0;
  width: 350px; }
