$line-color: #ccc;
$radius: 10px;

%container-skin {
  background-color: #fff;
  border: 1px solid $line-color;
}

body {
  background-color: #eaeae6;
  padding: 1em;
  font: {
    family: Helvetica, sans-serif;
    size: 14px;
  }
}
h1 {
  font-size: 1.5em;
  letter-spacing: -1px;
}
p {
  padding: 1em 0;
}
#main {
  padding: 2em 0;
}
.box {
  @extend %container-skin;
  width: 600px;
  padding: 1em;
  margin: 1em 0;
  border-radius: $radius;
}
.menu {
  width: 300px;
  margin: 1em 0;
  li {
    a {
      @extend %container-skin;
      display: block;
      padding: 1em;
      border-bottom-width: 0;
    }
    &:first-child a {
      border-top: {
        left-radius: $radius;
        right-radius: $radius;
      }
    }
    &:last-child a {
      border-bottom: {
        width: 1px;
        left-radius: $radius;
        right-radius: $radius;
      }
    }
  }
}
