/* This is only styling for visual test pages. */

$bg-color: #dadad6;
$fill-color: rgba(#fff, 0.95);
$line-color: rgba(#000, 0.1);
$accent-color: #06d;

$line-size: 3px;
$radius-size: 10px;
$rem: 14px; // Until we drop IE 8, rem can't replace this.

%clearfix {
  &::before, &::after {
    content: " ";
    display: table;
  }
  &::after { clear: both; }
}

%dimmed {
  opacity: 0.5;
  &:hover, &:focus { opacity: 1.0; }
}

%panel-skin {
  background: {
    color: $fill-color;
    clip: padding-box;
  }
  border: $line-size solid $line-color;
  box: {
    shadow: inset 0 0 0 1px rgba(#fff, 0.7), /* highlight */
            inset 0 0 $rem rgba(#000, 0.05); /* shadow */
    sizing: border-box;
  }
  &:hover {
    background-color: opacify($fill-color, 0.1);
  }
}

%pull-left-right {
  padding: { left: $rem; right: $rem; }
  margin: { left: -$rem; right: -$rem; }
}

// Start output:

/* base styling */
html {
  font-size: $rem;
}
body {
  background-color: $bg-color;
  font-family: Helvetica, sans-serif;
  padding: $rem;
  padding-top: 0;
}
a {
  color: $accent-color;
  text-decoration: none;
  &:hover {
    color: saturate(lighten($accent-color, 10%), 10%);
    text-decoration: underline;
  }
}
button {
  background: {
    color: lighten($bg-color, 10%);
    clip: padding-box;
  }
  border: 1px solid rgba(#000, 0.5);
  padding: 0.3em 0.6em;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.3em rgba(#000, 0.1);
  }
}

body > header { /* test page header */
  @extend %pull-left-right;
  background: darken($bg-color, 70%);
  box-shadow: inset 0 30px 40px -20px rgba(#000, 0.4);
  color: $bg-color;
  > * { display: inline-block; }
  > h1 {
    font-weight: normal; margin: 0; // reset
    text-shadow: 0 1px rgba(#000, 0.7);
  }
  > span {
    @extend %dimmed;
    margin-left: $rem;
  }
}

h1 { /* test page title */
  font-size: 1.5 * $rem;
  letter-spacing: -1px;
  padding: { top: 4 * $rem; bottom: $rem; }
}

#main { /* non-edge tests container */
  padding: $rem 0 (2 * $rem);
}

p { /* common test content container */
  padding: $rem 0;
}

section.visual-test { /* main test styles */
  $box-shadow: inset 0 1px 4px rgba(#000, 0.3), /* shadow */
               0 1px 0 rgba(#fff, 0.3); /* highlight */
  padding-bottom: $rem;
  header {
    @extend %clearfix, %pull-left-right;
    background: darken($bg-color, 10%);
    box-shadow: $box-shadow;
    font-weight: bold;
    padding: { top: $rem; bottom: $rem / 2; }
    text-shadow: 0 1px rgba(#fff, 0.3);
    > .label::after { content: ':'; }
    > [data-rel=docs] {
      @extend %dimmed;
      float: right;
      font-weight: normal;
    }
  }
  footer:not(:empty) {
    background: darken($bg-color, 5%);
    border-radius: $radius-size;
    box-shadow: $box-shadow;
    margin-bottom: $rem;
    padding: $rem / 2;
    > * { @extend %dimmed; }
    > button {
      border-radius: 4px;
      font-size: 0.9em;
    }
  }
}

.box {
  @extend %panel-skin;
  border-radius: $radius-size;
  margin: $rem 0;
  padding: $rem;
}

.list-item {
  @extend %panel-skin;
  border-bottom-width: 0;
  display: block;
  padding: $rem;
}
.list-item-first {
  border-top: {
    left-radius: $radius-size;
    right-radius: $radius-size;
  }
}
.list-item-last {
  border-bottom: {
    left-radius: $radius-size;
    right-radius: $radius-size;
    width: $line-size;
  }
}
.list {
  list-style: none;
  margin: $rem 0;
  padding: 0;
  .item {
    width: 300px;
    @extend .list-item;
  }
  > a, li.no-a {
    @extend .item;
    &:first-child { @extend .list-item-first; }
    &:last-child { @extend .list-item-last; }
  }
  li:not(.no-a) {
    > a { @extend .item; }
    &:first-child > a { @extend .list-item-first; }
    &:last-child > a { @extend .list-item-last; }
  }
}

.bar-item {
  @extend %panel-skin;
  border-right-width: 0;
  display: block;
  float: left;
  padding: $rem;
}
.bar-item-first {
  border: {
    top-left-radius: $radius-size;
    bottom-left-radius: $radius-size;
  }
}
.bar-item-last {
  border: {
    top-right-radius: $radius-size;
    bottom-right-radius: $radius-size;
    width: $line-size;
  }
}
.bar {
  @extend %clearfix;
  margin: $rem 0;
  .item { @extend .bar-item; }
  > a, li.no-a {
    @extend .item;
    &:first-child { @extend .bar-item-first; }
    &:last-child { @extend .bar-item-last; }
  }
  li:not(.no-a) {
    > a { @extend .item; }
    &:first-child > a { @extend .bar-item-first; }
    &:last-child > a { @extend .bar-item-last; }
  }
}

.edge {
  position: absolute;
  &.affixed { position: fixed; }
  &.top { top: $rem; }
  &.right { right: $rem; }
  &.bottom { bottom: $rem; }
  &.left { left: $rem; }
}
.edge-call {
  &:not(body) {
    position: relative;
  }
  > .visual-test-fragment {
    @extend .edge, %panel-skin;
    border-radius: $radius-size;
    padding: $rem;
  }
}

.grid-item {
  float: left;
  line-height: 0;
  margin: {
    bottom: $rem / 2;
    right: $rem / 2;
  }
}
.grid {
  @extend %clearfix;
  list-style: none;
  padding-left: 0;
  width: 350px;
  li { @extend .grid-item; }
}
