/*
  HLF Media Grid Visual Tests
  ===========================
*/
/*
  HLF Media Grid jQuery Plugin
  ============================
  There should be no css output from this file.
*/
.js-mg::before, .js-mg-item.js-mg-expanded hgroup::before, .js-mg::after, .js-mg-item.js-mg-expanded hgroup::after {
  content: ' ';
  display: table; }
.js-mg::after, .js-mg-item.js-mg-expanded hgroup::after {
  clear: both; }

.js-mg-item > .mg-detail, .js-mg-item.js-mg-expanded > .mg-preview {
  display: none;
  height: 0;
  opacity: 0;
  width: 0; }

.js-mg-item > .mg-preview, .js-mg-item.js-mg-expanded > .mg-detail {
  display: block;
  height: auto;
  opacity: 1;
  width: auto; }

.js-mg {
  background: #333333;
  margin-left: 6px;
  margin-top: 6px;
  opacity: 0;
  position: relative;
  transition: opacity 0.3s ease-in-out; }
  .js-mg,
  .js-mg * {
    box-sizing: border-box; }
  .js-mg.js-mg-ready {
    opacity: 1; }

.js-mg-item {
  background: #000;
  color: #fff;
  float: left;
  height: 232px;
  margin-bottom: 6px;
  margin-right: 6px;
  overflow: hidden;
  padding: 6px;
  transition: height 0.4s cubic-bezier(0.8, 0, 0.2, 1), left 0.4s cubic-bezier(0.8, 0, 0.2, 1), top 0.4s cubic-bezier(0.8, 0, 0.2, 1), width 0.4s cubic-bezier(0.8, 0, 0.2, 1), opacity 0.3s ease-in-out;
  width: 212px;
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  line-height: 2em; }
  .js-mg-item > .mg-preview,
  .js-mg-item > .mg-detail {
    overflow: hidden; }
  .js-mg-item:not(.js-mg-expanded):not(.js-mg-transitioning):hover {
    background: #fff;
    color: #000; }
  .js-mg-item.js-mg-transitioning, .js-mg-item.js-mg-expanded {
    z-index: 10; }
    .js-mg-item.js-mg-transitioning.js-mg-focused, .js-mg-item.js-mg-expanded.js-mg-focused {
      z-index: 11; }
  .js-mg-item.js-mg-expanded {
    height: 470px;
    width: 430px; }
  .js-mg-dimmed > .js-mg-item:not(.js-mg-expanded):not(.js-mg-transitioning) {
    opacity: 0.3; }
  .js-mg-item p {
    line-height: 1.6em; }
  .js-mg-item .mg-date {
    font-size: 10px;
    margin: 0;
    padding: 0; }
  .js-mg-item .mg-tags {
    list-style: none;
    padding-left: 0; }
    .js-mg-item .mg-tags li {
      display: inline; }
      .js-mg-item .mg-tags li:not(:last-child)::after {
        content: ',\0020'; }
  .js-mg-item .mg-title {
    font-size: 14px;
    margin: 0;
    padding: 0; }
  .js-mg-item.js-mg-expanded hgroup > .mg-date {
    float: right; }
  .js-mg-item.js-mg-expanded hgroup > .mg-title {
    float: left; }

/*
  Base Visual Test
  ================
  Provides the styling foundation for visual test pages. Import into a test
  stylesheet.
*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 * @custom Restored from v3.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body > header > *:not(:first-child), section.visual-test header > [data-rel=docs], section.visual-test footer:not(:empty) > * {
  opacity: .5; }
  body > header > :hover:not(:first-child), section.visual-test header > [data-rel=docs]:hover, section.visual-test footer:not(:empty) > :hover, body > header > :focus:not(:first-child), section.visual-test header > [data-rel=docs]:focus, section.visual-test footer:not(:empty) > :focus {
    opacity: 1; }

.edge-call > .visual-test-fragment, .box, .list-item, .list .item, .list > a,
.list li.no-a, .list li:not(.no-a) > a, .list .bar > a, .bar-item, .bar .item, .bar .list > a, .bar > a,
.bar li.no-a, .bar li:not(.no-a) > a {
  background-color: rgba(153, 153, 153, 0.95);
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(153, 153, 153, 0.7), inset 0 0 14px rgba(0, 0, 0, 0.05);
  box-sizing: border-box; }
  .edge-call > .visual-test-fragment:hover, .box:hover, .list-item:hover, .list .item:hover, .list > a:hover,
  .list li.no-a:hover, .list li:not(.no-a) > a:hover, .list .bar > a:hover, .bar-item:hover, .bar .item:hover, .bar .list > a:hover, .bar > a:hover,
  .bar li.no-a:hover, .bar li:not(.no-a) > a:hover {
    background-color: #999999; }

body > header, section.visual-test header {
  margin-left: -14px;
  margin-right: -14px;
  padding-left: 14px;
  padding-right: 14px; }

html {
  font-size: 14px; }

body {
  background-color: #333333;
  font-family: Helvetica, sans-serif;
  padding: 14px;
  padding-top: 0; }

a {
  color: #06d;
  text-decoration: none; }
  a:hover {
    color: #117fff;
    text-decoration: underline; }

button {
  background-clip: padding-box;
  background-color: #4d4d4d;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: .3em .6em; }
  button:focus {
    outline: none;
    box-shadow: 0 0 0 0.3em rgba(0, 0, 0, 0.1); }

body > header {
  /* test page header */
  background: black;
  box-shadow: inset 0 30px 40px -20px rgba(0, 0, 0, 0.4);
  color: #b3b3b3;
  text-shadow: 0 1px rgba(0, 0, 0, 0.7); }
  body > header > * {
    display: inline-block; }
    body > header > *:not(:first-child) {
      margin-left: 14px; }
  body > header > h1 {
    /* reset */
    font-weight: normal;
    margin: 0; }
  body > header > fieldset {
    border-color: #333333;
    border-radius: 10px;
    padding: 0 10px 10px; }
    body > header > fieldset > legend {
      opacity: .5;
      padding: 2.8px; }
    body > header > fieldset > label + label {
      margin-left: 7px; }

h1 {
  /* test page title */
  font-size: 21px;
  letter-spacing: -1px;
  padding-bottom: 14px;
  padding-top: 56px; }

#main {
  /* non-edge tests container */
  padding: 14px 0 28px; }

p {
  /* common test content container */
  padding: 14px 0; }

section.visual-test {
  /* main test styles */ }
  section.visual-test:not(:last-child) {
    padding-bottom: 14px; }
  section.visual-test header {
    background: #1a1a1a;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(153, 153, 153, 0.3);
    color: #d1d1d1;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 14px;
    text-shadow: 0 1px #333333; }
    section.visual-test header > .label::after {
      content: ':'; }
    section.visual-test header > [data-rel=docs] {
      float: right;
      font-weight: normal; }
  section.visual-test footer:not(:empty) {
    background: #262626;
    border-radius: 10px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(153, 153, 153, 0.3);
    margin-bottom: 14px;
    padding: 7px; }
    section.visual-test footer:not(:empty) > button {
      border-radius: 4px;
      font-size: .9em; }

.edge, .edge-call > .visual-test-fragment {
  /* alternative test container styles */
  position: absolute; }
  .edge.affixed, .edge-call > .affixed.visual-test-fragment {
    position: fixed; }
  .edge.top, .edge-call > .top.visual-test-fragment {
    top: 14px; }
  .edge.right, .edge-call > .right.visual-test-fragment {
    right: 14px; }
  .edge.bottom, .edge-call > .bottom.visual-test-fragment {
    bottom: 14px; }
  .edge.left, .edge-call > .left.visual-test-fragment {
    left: 14px; }

.edge-call:not(body) {
  position: relative; }
.edge-call > .visual-test-fragment {
  border-radius: 10px;
  padding: 14px; }

.box {
  border-radius: 10px;
  margin: 14px 0;
  padding: 14px; }

.list-item, .list .item, .list > a,
.list li.no-a, .list li:not(.no-a) > a, .list .bar > a, .list .bar li:not(.no-a) > a {
  border-bottom-width: 0;
  display: block;
  padding: 14px; }

.list-item-first, .list > a:first-child,
.list li.no-a:first-child, .list li:not(.no-a):first-child > a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.list-item-last, .list > a:last-child,
.list li.no-a:last-child, .list li:not(.no-a):last-child > a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-width: 3px; }

.list {
  list-style: none;
  margin: 14px 0;
  padding: 0; }
  .list .item, .list > a,
  .list li.no-a, .list li:not(.no-a) > a, .list .bar > a, .list .bar li:not(.no-a) > a {
    width: 300px; }

.bar-item, .bar .item, .bar .list > a, .bar .list li:not(.no-a) > a, .bar > a,
.bar li.no-a, .bar li:not(.no-a) > a {
  border-right-width: 0;
  display: block;
  float: left;
  padding: 14px; }

.bar-item-first, .bar > a:first-child,
.bar li.no-a:first-child, .bar li:not(.no-a):first-child > a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.bar-item-last, .bar > a:last-child,
.bar li.no-a:last-child, .bar li:not(.no-a):last-child > a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: 3px; }

.bar {
  margin: 14px 0; }

.grid-item, .grid li {
  float: left;
  line-height: 0;
  margin-bottom: 7px;
  margin-right: 7px; }

.grid {
  list-style: none;
  padding-left: 0;
  width: 350px; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, section.visual-test header:before, .bar:before, .grid:before,
.clearfix:after,
section.visual-test header:after,
.bar:after,
.grid:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, section.visual-test header:after, .bar:after, .grid:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, section.visual-test header, .bar, .grid {
  *zoom: 1; }

#main {
  padding-bottom: 0; }

.js-mg.test-body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem; }

/*# sourceMappingURL=media-grid.css.map */