@import '../../dist/jquery.hlf.media-grid';

$bg-color: $hlf-mg-fill-color;
$light-color: mix($bg-color, #fff);
@import 'base';

.js-mg {
  @include hlf-media-grid;
}

.js-mg-item {
  @include hlf-media-grid-item(
    $height: 232px,
    $width: 212px
  );
  @include hlf-media-grid-item-extras;
}

// section: overrides

#main {
  padding-bottom: 0;
}

.js-mg.test-body {
  margin: {
    left: 0;
    right: 0;
    top: 1rem;
  }
}
