.js-tip {
  display: none;
  position: absolute;
  z-index: 9999; }
  .js-tip > .js-tip-inner {
    position: relative; }

.js-tip-inner > .js-tip-stem {
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background: none;
  position: absolute;
  width: 0;
  height: 0; }
.js-tip-inner > .js-tip-content {
  overflow: hidden;
  position: relative; }

.js-tip-right.js-snap-tip-y-side .js-tip-stem, .js-tip-right .js-tip-stem {
  left: 0; }
.js-tip-left.js-snap-tip-y-side .js-tip-stem, .js-tip-left .js-tip-stem {
  right: 0; }
.js-tip-bottom.js-snap-tip-x-side .js-tip-stem, .js-tip-bottom .js-tip-stem {
  top: 0; }
.js-tip-top.js-snap-tip-x-side .js-tip-stem, .js-tip-top .js-tip-stem {
  bottom: 0; }
.js-snap-tip-x-side .js-tip-stem {
  left: 50%;
  border-color: transparent; }
.js-snap-tip-y-side .js-tip-stem {
  top: 50%;
  border-color: transparent; }

.js-tip .js-tip-content {
  background-color: #666666;
  color: white; }
.js-tip.js-tip-right.js-snap-tip-y-side .js-tip-stem, .js-tip.js-tip-right .js-tip-stem {
  border-color: transparent;
  border-right-color: #666666; }
.js-tip.js-tip-left.js-snap-tip-y-side .js-tip-stem, .js-tip.js-tip-left .js-tip-stem {
  border-color: transparent;
  border-left-color: #666666; }
.js-tip.js-tip-bottom.js-snap-tip-x-side .js-tip-stem, .js-tip.js-tip-bottom .js-tip-stem {
  border-color: transparent;
  border-bottom-color: #666666; }
.js-tip.js-tip-top.js-snap-tip-x-side .js-tip-stem, .js-tip.js-tip-top .js-tip-stem {
  border-color: transparent;
  border-top-color: #666666; }
.js-tip .js-tip-inner {
  max-width: 216px; }
.js-tip .js-tip-content {
  padding: 8px 12px 10px 12px; }
.js-tip.js-tip-right.js-snap-tip-y-side .js-tip-stem, .js-tip.js-tip-right .js-tip-stem {
  border-right-width: 12px; }
  .js-tip.js-tip-right.js-snap-tip-y-side .js-tip-stem + .js-tip-content, .js-tip.js-tip-right .js-tip-stem + .js-tip-content {
    top: auto;
    bottom: auto;
    left: 12px; }
.js-tip.js-tip-left.js-snap-tip-y-side .js-tip-stem, .js-tip.js-tip-left .js-tip-stem {
  border-left-width: 12px; }
  .js-tip.js-tip-left.js-snap-tip-y-side .js-tip-stem + .js-tip-content, .js-tip.js-tip-left .js-tip-stem + .js-tip-content {
    top: auto;
    bottom: auto;
    right: 12px; }
.js-tip.js-tip-bottom.js-snap-tip-x-side .js-tip-stem, .js-tip.js-tip-bottom .js-tip-stem {
  border-bottom-width: 12px; }
  .js-tip.js-tip-bottom.js-snap-tip-x-side .js-tip-stem + .js-tip-content, .js-tip.js-tip-bottom .js-tip-stem + .js-tip-content {
    left: auto;
    right: auto;
    top: 12px; }
.js-tip.js-tip-top.js-snap-tip-x-side .js-tip-stem, .js-tip.js-tip-top .js-tip-stem {
  border-top-width: 12px; }
  .js-tip.js-tip-top.js-snap-tip-x-side .js-tip-stem + .js-tip-content, .js-tip.js-tip-top .js-tip-stem + .js-tip-content {
    left: auto;
    right: auto;
    bottom: 12px; }
.js-tip.js-snap-tip-x-side .js-tip-stem {
  margin-left: -9px;
  border-width: 0 9px; }
.js-tip.js-snap-tip-y-side .js-tip-stem {
  margin-top: -9px;
  border-width: 9px 0; }
